.leap-pointable-cursor {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 3px solid crimson;
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    opacity: .5;
    box-shadow: 0 0 15px darkred;
}

.leap-cursor {
    position: absolute;
    transition-property: background-color;
}


.leap-pointable-cursor:after {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid crimson;
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    content: "";
    opacity: .9;
    box-shadow: 0 0 15px darkred;

}